.jumbotron {
  margin-bottom: 1em;
}

.currentDisplay {
  margin-bottom: -6em;
  /* background: #d3d3d35e; */
  border: solid #80808066;
  border-radius: 9px;
}

.text,
#uvData {
  color: white;
  text-align: center;
}

Main {
  margin-left: 2em;
  /* background-color: grey; */
  margin-right: 2em;
  height: 64em;
}

.card-one {
  height: 65em;
  background-color: #e9ecef;
}

.state-results,
.todaysdate {
  display: inline;
  font-size: 5em;
}

.current-degrees {
  padding-left: 5px;
  font-size: 1em;
}

.five-day-results {
  height: 36em;
  margin-top: 8em;
}
.currentWeatherIcon {
  height: 167px;
}

.temperatureCurrent,
.humidityCurrent,
.windSpeedCurrent,
.uvIndexCurrent {
  font-size: 2em;
}
.temperatureCurrent {
  display: inline-block;
}
.card {
  background-color: blue;
  color: white;
  border-radius: 8px;
}
.card-text {
  display: inline-block;
}

.five-days-degrees {
  padding-left: 5px;
}

#uvData {
  font-size: 2em;
}
.uvIndexCurrent {
  display: inline;
}

.storageList {
  border: solid #80808066;
  color: grey;
  margin: -2px;
  background: white;
}
.greenUVI {
  background-color: green;
  border-radius: 3px;
}
.yellowUVI {
  background-color: yellow;
  border-radius: 3px;
  color: grey;
}
.orangeUVI {
  background-color: orange;
  border-radius: 3px;
}
.redUVI {
  background-color: red;
  border-radius: 3px;
}

.purpleUVI {
  background-color: purple;
  border-radius: 3px;
}
